# .NET Core/.NET build directories
bin/
obj/
**/bin/
**/obj/

# Development settings files
**/appsettings.Development.json
**/*.Development.json

# Visual Studio files
.vs/
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code files
.vscode/*
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/*.code-workspace
**/.ionide/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.userprefs

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# macOS specific files
.DS_Store
